<div class="row">
	<div class="large-12 medium-12 columns main_header">
		<div class="large-11 medium-10 small-9 columns"><span class="sper">监狱工具智能管理系统</span></div>
		<div class="large-1 medium-2 small-3 columns">
			<a ui-sref="login">
				<img src="img/back.png" / style="width: 20%;">
				<span class="sper1">退出系统</span>
			</a>
		</div>

	</div>
	<div class="large-2 medium-3 small-5 columns" style="background-color:#3c404a;padding: 0;">
		<ul class="side-nav" style="height: 41.8rem;">
			<div style="padding: 1rem;">
				<span class="yuan">车间1</span>
			</div>

			<li ng-class="{'active':navData.num==1}">
				<a ui-sref="main.main-inp" class="item silder0">
					<img src="img/icon-1.png">
					<span>录入数据</span>
				</a>
			</li>
			<li ng-class="{'active':navData.num==2}">
				<a ui-sref="main.main-search" class="item silder0">
					<img src="img/icon-2.png">

					<span>工具状态查询</span>
				</a>
			</li>
		</ul>
	</div>
	<div ui-view></div>